.home_section{
     padding:25px;
}
.home_section > h2{
    width:fit-content;
    margin:auto;
    padding:15px
}
.economy_rooms{
display: flex;
   
  overflow-x: scroll;
  scroll-behavior: smooth;

}
/* 

 @media only screen and (max-width: 499px) {
 
.economy_rooms::-webkit-scrollbar {
  display: none;
}

 
economy_rooms {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}


} */